/* generales */
a {
  text-decoration: none;
}

body {
  margin: 0%;
  background-color: black;
}

h2, h3, h4 {
  text-decoration: underline;
}

/* fin generales */
/* header */
.navbar-brand {
  font-family: "Anton", sans-serif;
}

header {
  width: 100%;
  border: 1px solid black;
  text-align: center;
  margin: auto;
}
header h1 {
  display: none;
}
header nav ul {
  text-align: center;
  font-family: lato;
}
header nav ul li {
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
}

.Locales {
  text-align: center;
  width: 40%;
  background-color: rgba(24, 23, 24, 0.38);
  margin-bottom: 1%;
  border-radius: 4%;
  border: 1px solid transparent;
}
.Locales:hover {
  background-image: linear-gradient(rgba(36, 32, 34, 0.52), rgba(238, 87, 0, 0.7));
  border: 1px solid white;
}

main {
  font-family: lato;
  background-image: url(../multimedia/concrete_wall.png);
  color: white;
  margin: auto;
  width: 100%;
}

.artesanal {
  text-align: center;
  padding-bottom: 5%;
}
.artesanal img {
  width: 100%;
}

#menuBurger {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.burger img {
  border-radius: 10%;
  width: 60%;
}
@media only screen and (max-width: 480px) {
  .burger img {
    width: 80%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .burger img {
    width: 90%;
  }
}
.burger img:hover {
  transform: rotateY(360deg);
  transition: all 2.5s;
}

/*Nosotros*/
#Nosotros {
  text-align: center;
  padding-top: 5%;
}
#Nosotros p {
  padding: 2%;
  width: 25%;
  margin: auto;
  border-bottom: 1px solid white;
}
@media only screen and (max-width: 480px) {
  #Nosotros p {
    width: 70%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  #Nosotros p {
    width: 50%;
  }
}

/* fin nosotros*/
/*sucursales*/
.sucursalesCont {
  padding-top: 3%;
}

section h3 {
  text-align: center;
  font-size: 2em;
  padding-bottom: 4%;
}

.contLocales {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

/* fin sucursales */
.bienvenidos {
  text-align: center;
}
.bienvenidos article {
  padding-top: 5%;
}

#carouselExampleControls {
  width: 60%;
  padding-bottom: 5%;
}
@media only screen and (max-width: 480px) {
  #carouselExampleControls {
    width: 100%;
    padding-bottom: 5%;
  }
}

@media only screen and (max-width: 480px) {
  #carouselExampleControls {
    width: 100%;
    padding-bottom: 5%;
  }
}
/*Menu.html*/
.menu article {
  margin: 0 auto;
  padding-bottom: 10%;
  padding-top: 5%;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "menuTitulo menuTitulo menuTitulo" "burger1 burger2 burger3" "burger4 burger5 burger6";
  text-align: center;
  background-image: url(../multimedia/cork.png);
  width: 80%;
  border: 10px solid black;
}
@media only screen and (max-width: 480px) {
  .menu article {
    padding-top: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "menuTitulo menuTitulo" "burger1 burger2 " "burger3 burger4 " "burger5 burger6";
  }
}
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .menu article {
    padding-top: 10%;
  }
}
.menu article h1 {
  margin: 0 auto;
  grid-area: menuTitulo;
  padding-top: 10px;
  padding-bottom: 3%;
}
.menu article .anchor-position {
  position: relative;
  padding: 2%;
}
.menu article .anchor-text {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: cursive;
}
.menu article .hidden-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: cursive;
  display: none;
}
@media only screen and (max-width: 480px) {
  .menu article .hidden-text {
    width: 100%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .menu article .hidden-text {
    width: 100%;
  }
}
.menu article .anchor-position:hover .anchor-text {
  display: none;
  transition: all 1s;
}
.menu article .anchor-position:hover .hidden-text {
  display: block;
}
.menu article .anchor-position:hover img {
  filter: blur(5px);
  transition: all 0.5s;
}
.menu article .anchor-position img {
  border-radius: 5%;
}
@media only screen and (max-width: 480px) {
  .menu article .anchor-position img {
    width: 100%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1440px) {
  .menu article .anchor-position img {
    width: 100%;
  }
}
.menu article .burger-1 {
  grid-area: burger1;
}
.menu article .burger-2 {
  grid-area: burger2;
}
.menu article .burger-3 {
  grid-area: burger3;
}
.menu article .burger-4 {
  grid-area: burger4;
}
.menu article .burger-5 {
  grid-area: burger5;
}
.menu article .burger-6 {
  grid-area: burger6;
}

/*fin menu.html*/
/* footer */
footer {
  border: 1px solid black;
  width: 100%;
  margin: auto;
  background-image: url(../multimedia/rock.png);
  text-align: center;
  padding-top: 2%;
}
footer nav a {
  color: black;
  font-family: "Anton", sans-serif;
  font-size: 2em;
}
footer nav a:hover {
  color: darkred;
}
footer nav .media {
  padding: 2% 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-around;
}
footer nav .media li {
  width: 33%;
}
footer nav .media li a:hover img {
  background-color: darkred;
}
footer nav .media li a img {
  border-radius: 20%;
  width: 20%;
}
footer #contacto form {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer #contacto form label {
  margin: 1% auto;
}
footer #contacto form .boton {
  margin: 1% 0;
}

/* fin footer */

/*# sourceMappingURL=estilo.css.map */
