
%local {
    text-align: center;
    width: 40%;
    background-color:rgba(24, 23, 24, 0.38);
    margin-bottom: 1%;
    border-radius: 4%;
    border: 1px solid transparent;

    &:hover {
        background-image: linear-gradient(rgba(36, 32, 34, 0.52),rgba(238, 87, 0, 0.7));
        border: 1px solid white;        
    }
}